@import url("../css/header.css");
main {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(211, 228, 183, 0.5);
  padding: 30px;
  padding-top: 0;
  margin-top: 1rem;
  border-radius: 10px;
}
h3 {
  margin: 0;
  text-align: center;
  margin-top: 20px;
}
table {
  border-collapse: separate;
  border-spacing: 0 10px;
  border: 1px solid black;
  width: 80vw;
  text-align: left;
  border-radius: 10px;
  background-color: beige;
}
table tr td {
  width: 37%;
}
table tr td:nth-of-type(3) {
  width: 30%;
}
table tr td:nth-of-type(1) {
  width: 30%;
}
table > tbody > tr > th:nth-of-type(1) {
  padding-left: 10px;
}

h3 > button {
  cursor: pointer;
  vertical-align: top;
  background: #458871;
  color: #fff;
  height: 23px;
  border-radius: 5px;
}
table:nth-of-type(2) button {
  cursor: pointer;
  background: #458871;
  color: #fff;
  border-radius: 20px;
  font-size: 12px;
}
table:nth-of-type(2) tr td:nth-of-type(2) {
  text-align: right;
  padding-right: 10px;
}
table:nth-of-type(3) tr td {
  width: 65%;
  font-weight: bold;
}
table:nth-of-type(3) tr td ins:hover {
  color: #eceff1;
  background-color: #333d29;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10px;
}
section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
article {
  position: absolute;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  width: 500px;
  height: 250px;
  padding: 2rem;
  align-items: center;
}
section > article > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section > article > div > h5 {
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 5px;
}
section > article > div > label > input {
  padding: 3px;
  width: 80%;
  vertical-align: top;
  border: 2px dotted black;
  border-radius: 5px;
  text-align: center;
}
section > article > span {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
section > article > span > button {
  background: rgb(96, 120, 56);
  color: #fff;
  border-radius: 5px;
}

@media (min-width: 43rem) {
  table {
    width: 60vw;
  }
  table tr td:nth-of-type(2) {
    width: 45%;
  }
  table:nth-of-type(3) tr td {
    width: 75%;
  }
}
@media (min-width: 67rem) {
  table {
    width: 40vw;
  }
  main {
    margin-top: 2rem;
  }
}
