* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgba(100, 200, 150, 0.2);
}
aside {
  display: flex;
  justify-content: space-between;
}
aside > div{
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
aside > div> button {
  background-color: rgb(173, 193, 120);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
aside > div button a {
  text-decoration: none;
  color: white;
}
aside > div button a:visited {
  color: white;
}
header> div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header > div > h1 > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 2rem;
  color: rgb(96, 108, 56);
}
header > div> nav > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}
header > div > nav > ul > li {
  background-color: rgb(141, 112, 83);
  text-align: center;
  width: 20%;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 5px;
}
header > div > nav > ul > li > a {
  color: white;
  text-decoration: none;
}
main {
  margin: 10px;
  border-radius: 10px;
}
h3{
  margin: 0;
  text-align: center;
}
main > section:nth-of-type(1) {
  background-color: beige;
  padding: 20px;
  border-radius: 20px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;

}
main > section:nth-of-type(1) > div{
  display: flex;
  gap: 2rem;
}
main > section:nth-of-type(2){
  margin: 0.5rem;
  background-color: beige;
  padding: 20px;
  border-radius: 20px;
}
main > section:nth-of-type(2) > div {
  display: flex;
  gap: 10px;
  width: 60%;
  justify-content: flex-end;
}
main > section:nth-of-type(2) > div > h3 {
  margin: 0;
}
article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
article > div {
  display: flex;
  justify-content: space-between;
}
article > div > div {
  display: flex;
  gap: 2rem;
}
article > div > button {
  margin-top: 1em;
  height: 1.7rem;
}
article > div:nth-of-type(2){
  display: flex;
  gap: 2rem;
}
#modify-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
#modify-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: absolute;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  width: 500px;
  padding: 2rem;
  align-items: center;
}
#modify-box > h5 {
  margin: 0;
}
@media (min-width: 67rem) {
  aside > div > button {
    font-size: 15px;
  }
  header {
    width: 40%;
  }
  header> div:nth-of-type(2){
    width: 60%;
  }
  header > div:nth-of-type(1) > h1 > a {
    margin: 0;
    font-size: 40px;
  }
  header > div:nth-of-type(1) > nav > ul li {
    font-size: 18px;
  }
  main {
    width: 60%;
    margin: auto;
  }
  main > footer > div {
    width: 55%;
  }
}