@import url("css/header.css");
section {
  margin: auto;
  width: 80vw;
}
section > div:nth-of-type(1){
  display: flex;
  flex-direction: column;
}
section > div:nth-of-type(1) > h1:nth-of-type(1) {
  text-align: center;
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
}
section > div:nth-of-type(1) > h1:nth-of-type(2) {
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
section > div:nth-of-type(1) > h1:nth-of-type(1):after{
  content: "❤";
  color: red;
}
section > div:nth-of-type(2){
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  
}
section > div:nth-of-type(2) > img:nth-of-type(1) {
  margin: auto;
  width: 100%; /* 이미지의 너비를 100%로 설정 */
  max-width: 60vw; /* 최대 너비를 60vw로 제한 */
  border-radius: 50px;
}
section > div:nth-of-type(2) > img:nth-of-type(2) {
  display: none;
}
@media (min-width: 67rem){
  section {
    width: 100%;
    margin-top: 2rem;
  }
  section > div:nth-of-type(1) {
    justify-content: center;
  }
  section > div:nth-of-type(1) h1:nth-of-type(1){
    font-size: 30px;
    margin: 0;
  }
  section > div:nth-of-type(1){
    flex-direction: row;
    gap: 5rem;
  }
  section > div:nth-of-type(2) > img:nth-of-type(1) {
    display: none;
  }
  section > div:nth-of-type(2) > img:nth-of-type(2) {
    display: block;
    margin: auto;
    width: 80%;
    height: 50%;
    border-radius: 50px;
  }
  section > div:nth-of-type(2) {
    margin-bottom: 0;
  }
}