* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  background-color: rgba(100, 200, 150, 0.2);
}
aside {
  display: flex;
  justify-content: space-between;
}
aside > div:nth-of-type(1){
  display: flex;
  gap: 15px
}
aside > div:nth-of-type(1) > button a {
  text-decoration: none;
  color: white;
}
aside > div:nth-of-type(1) > button:nth-of-type(2) a:visited {
  color: white;
}
aside > div:nth-of-type(1) > button {
  background-color: rgb(173, 193, 120);
  color: white;
  border-radius: 5px;
}
aside > div:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
aside > div:nth-of-type(2) > button{
  background-color: rgb(173, 193, 120);
  color: white;
  border-radius: 5px;
}
header> div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header > div > h1 > a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 2rem;
  color: rgb(96, 108, 56);
}
header > div > nav > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}
header > div> nav > ul > li {
  background-color: rgb(141, 112, 83);
  text-align: center;
  width: 20%;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 5px;
  line-height: 20px;
  box-shadow: 0 0 #87a86f;
}
header > div > nav > ul > li > a {
  color: white;
  text-decoration: none;
}
header > div > h1 > a:hover {
  color: palevioletred;
}
header > div > nav > ul > li > a:hover{
  color:  palevioletred;
}
section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
section > div:nth-of-type(1){
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section > div:nth-of-type(1) > h1:nth-of-type(1) {
  text-align: center;
  font-size: 25px;
}
section > div:nth-of-type(1) > h1:nth-of-type(2) {
  text-align: center;
  font-size: 30px;
  margin: 0;
  
}
/* .rotate:first-child{
  transition: 3s 0.2s;
}
.rotate:last-child {
  transition: 3s 3s;
} */
/* .rotate-animate{
  transform: rotate( 720deg );
} */
section > div:nth-of-type(1) > h1:nth-of-type(1):after{
  content: "â¤";
  color: red;
}
section > div:nth-of-type(2){
  display: flex;
  justify-content: center;
  margin: 2rem;
  
}
section > div:nth-of-type(2) > img {
  width: 28rem;
  border-radius: 50px;
}
@media (min-width: 67rem){
  body{
    width: 70%;
    margin: auto;
  }
  aside > div > button {
    font-size: 15px;
  }
  header > div:nth-of-type(1) > h1 > a {
    margin: 0;
    font-size: 40px;
  }
  header > div:nth-of-type(1) > nav > ul li {
    font-size: 18px;
  }
  section > div:nth-of-type(1) > h1:nth-of-type(1) {
    font-size: 40px;
    margin: 0;
  }
  section > div:nth-of-type(1) > h1:nth-of-type(2) {
    margin: 0;
    font-size: 40px;
  }
  section > div:nth-of-type(1){
    flex-direction: row;
    gap: 5rem;
  }
  section > div:nth-of-type(2) > img {
    width: 80%;
    height: 41.5rem;
  }
  section > div:nth-of-type(2) {
    margin-bottom: 0;
  }
}