@import url("css/header.css");
section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
section > div:nth-of-type(1){
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section > div:nth-of-type(1) > h1:nth-of-type(1) {
  text-align: center;
  font-size: 25px;
}
section > div:nth-of-type(1) > h1:nth-of-type(2) {
  text-align: center;
  font-size: 30px;
  margin: 0;
  
}
/* .rotate:first-child{
  transition: 3s 0.2s;
}
.rotate:last-child {
  transition: 3s 3s;
} */
/* .rotate-animate{
  transform: rotate( 720deg );
} */
section > div:nth-of-type(1) > h1:nth-of-type(1):after{
  content: "â¤";
  color: red;
}
section > div:nth-of-type(2){
  display: flex;
  justify-content: center;
  margin: 2rem;
  
}
section > div:nth-of-type(2) > img {
  width: 28rem;
  border-radius: 50px;
}
@media (min-width: 67rem){
  section > div:nth-of-type(1) > h1:nth-of-type(1) {
    font-size: 40px;
    margin: 0;
  }
  section > div:nth-of-type(1) > h1:nth-of-type(2) {
    margin: 0;
    font-size: 40px;
  }
  section > div:nth-of-type(1){
    flex-direction: row;
    gap: 5rem;
  }
  section > div:nth-of-type(2) > img {
    width: 80%;
    height: 41.5rem;
  }
  section > div:nth-of-type(2) {
    margin-bottom: 0;
  }
}