@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
/* video{
 position: absolute;
 left: 50%;
 top: 23%;
 transform: translateX(-50%) translateY(-50%);
} */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
}
video {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  /* 부모요소의 크기의 절반만큼을 오른쪽/아래쪽으로 이동시킴 */
  left: 50%;
  top: 50%;
  /* 자기 자신 크기의 절반만큼을 왼쪽/위쪽으로 이동시킴 */
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(211, 228, 183, 0.5);
  border-radius: 20px;
  width: 500px;
  padding: 2rem;
}
form > h1 {
  text-align: center;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
form > h1 > a {
  text-decoration: none;
  color: black;
}
form > h1 > a:visited {
  color: black;
}
form > h1 > a:hover {
  color: palevioletred;
}
form > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
form > div:nth-of-type(1) label input {
  width: 200px;
  height: 35px;
}
form > div:nth-of-type(2) {
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
  margin: 10px;
}
form > div:nth-of-type(2) > button {
  background-color: #fefedf;
  border: 1px solid #458871;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 8px -1px rgb(96, 108, 56);
  cursor: pointer;
}
form > div:nth-of-type(2) > button:nth-of-type(2) > a {
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
