* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgba(100, 200, 150, 0.2);
}
aside {
  display: flex;
  justify-content: space-between;
}
aside > div{
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
aside > div> button {
  background-color: rgb(173, 193, 120);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
aside > div button a {
  text-decoration: none;
  color: white;
}
aside > div button a:visited {
  color: white;
}
header> div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header > div > h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 2rem;
  color: rgb(96, 108, 56);
}
header > div> nav > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}
header > div > nav > ul > li {
  background-color: rgb(141, 112, 83);
  text-align: center;
  width: 20%;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 5px;
}
header > div > nav > ul > li > a {
  color: white;
  text-decoration: none;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  width: 30rem;
  padding: 1.5rem;
  margin: 1.5rem 0.8rem;
  background-color:rgb(255, 250, 240);
  box-shadow: 5px 5px 10px hsl(19, 28%, 33%);
  border-radius: 10px;
}
article > h4:hover{
  cursor: pointer;
  color: crimson;
}
article > h5 {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 10px;
}
article > div:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
}
article > div:nth-of-type(1) > img {
  width: 100%;
}
@media (min-width: 61rem){
  aside > div > button {
    font-size: 15px;
  }
  header {
    width: 40%;
  }
  header> div:nth-of-type(2){
    width: 60%;
  }
  header > div:nth-of-type(1) > h1 > a {
    margin: 0;
    font-size: 40px;
  }
  header > div:nth-of-type(1) > nav > ul li {
    font-size: 18px;
  }
  article{
    width: 60%;
    padding: 3rem;
  }
  article > div:nth-of-type(1) {
    width: 60%;
    margin: auto;
  }
}