@import url("../css/header.css");
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
article {
  width: 22rem;
  padding: 1.5rem;
  margin: 1.5rem 0.8rem;
  background-color: rgb(232, 243, 213);
  box-shadow: 5px 5px 10px hsl(19, 28%, 33%);
  border-radius: 10px;
}
article> h3 {
  display: inline;
  font-size: 16px;
  padding: 2px 10px;
  border-radius: 50px;
  background-color: #FEFEDF;
}
article > div:nth-of-type(1){
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
article > div:nth-of-type(1) > select {
  width: 20px;
  cursor: pointer;
  background-color: rgba(23, 94, 9, 0.2);
  border-radius: 5px;
} 
article > div:nth-of-type(1) > select > option{
  background-color: #fff;
  width: 100%;
}
article > div:nth-of-type(1) > select > option:nth-of-type(1){
  display: none;
}
h4{
  margin: 0;
  font-size: 18px;
}
article > h5 {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 10px;
}
article > div:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
}
article > div:nth-of-type(3) > span {
  margin: 16px;
  margin-right: 5px;
  cursor: pointer;
}
.heart{
  color: red;
}
article > div:nth-of-type(4) {
  display: flex;
  justify-content: space-between;
}
article > div:nth-of-type(4) > h3:nth-of-type(2){
  color: crimson;
}
article > div:nth-of-type(4) > h3 {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
article > div:nth-of-type(2) > img {
  width: 100%;
}
#paging{
  display: flex;
  justify-content: center;
  gap: 30px;
}
#paging > button {
  padding: 10px 30px;
  font-weight: 500;
  line-height: 12px;
  border-radius: 24px;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: .5px;
  background:  #458871;
  color: #fff;
  box-shadow: 0 2px 8px -1px rgb(96, 108, 56);
}
footer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
#modify-box {
  background-color: #D2DFBD;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  padding: 2rem;
  align-items: center;
}
#modify-box > div:nth-of-type(1){
  width: 100%;
}
#modify-box > div:nth-of-type(1) > input{
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
#modify-box > div:nth-of-type(2){
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#modify-box > div:nth-of-type(2) > label > div {
  width: 100%;
  padding: 3px;
  height: 23px;
  text-align: center;
  background: #458871;
  box-shadow: 0 2px 2px -1px rgb(96, 108, 56);
  border: 1px solid black;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}
#modify-box > div:nth-of-type(2) > label {
  display: flex;
  gap: 50px;
}
#modify-box > div:nth-of-type(2) > label > input {
  display: none;
}
#modify-box > div:nth-of-type(2) > label > img {
  display: none;
  margin: auto;
  max-width: 80%;
  height: 200px;
  margin-top: 10px;
}
#modify-box > div:nth-of-type(3){
  width: 100%;
}
#modify-box > div:nth-of-type(3) > textarea{
  border: 1px solid black;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  resize: none; /* 리사이즈 비활성화 */
  overflow: hidden; /* 오버플로우를 숨김으로 설정 */
}
#modify-box > div:nth-of-type(4){
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: flex-end;
}
#modify-box > div:nth-of-type(4) > button{
  background-color: #76A486;
  color: white;
  border-radius: 5px;
}
hr{
  width: 100%;
  color: black;
  margin: 0;
}
header > div > form {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 15px;
  width: 85%;
}
header > div > form > span {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
header > div > form > span > button {
  width: 20%;
  background-color: rgb(40, 54, 24);
  color: white;
  border-radius: 5px;
}
.bar {
  width: 100%;
  background-color: white;
  height: 35px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
}
.bar > label > input {
  vertical-align: top; /*상단의 태그와 윗부분 연결*/
  width: 80%;
  height: 25px;
  border: none; /*검색창 border 을 없앰으로써 자연스러워짐 */
  --webkit-appearance: none; /*기본 search 디자인을 없앰 */
  overflow: auto; /*검색어가 길어졌을때 오른쪽으로 자연스럽게 검색되도록 하기 위해*/
  z-index: -1;
  font-size: 15px;
  margin-bottom: 5px;
}
.bar label{
  width: 100%;
  padding: 5px;
  height: 35px;
}
@media (min-width: 40rem){
  header > div > form {
    display: flex;
    flex-direction: row;
  }
  .bar{
    width: 75%;
  }
  header > div > form > span {
    justify-content: space-between;
    width: 25%;
  }
  header > div > form > span >button {
    width: 100%;
  }
}

@media (min-width: 67rem) {
  body {
    width: 100%
  }
  header > div > form > span >button:nth-of-type(2){
    width: 150px;
  }
  header {
    width: 40%;
  }
  section {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem;
  }
  article {
    margin: 0;
  }
  article > div:nth-of-type(2) > img {
    height: 22rem;
  }
  #paging > button {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 32px;
  }

}