@import url("../css/header.css");
section {
  padding: 10px;
  padding-top: 20px;
  background-color: rgba(211, 228, 183, 0.5);
}
section > p {
  text-align: center;
}
section > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}
section > form > div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
section > form > div:nth-of-type(1) > label {
  width: 100%;
  height: 30px;
}
section > form > div:nth-of-type(1) > label > input {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
}
textarea {
  border-radius: 5px;
  padding: 10px;
  resize: none; /* 리사이즈 비활성화 */
  overflow: hidden; /* 오버플로우를 숨김으로 설정 */
}
section > form > div:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
}
section > form > label {
  display: flex;
  flex-direction: column;
}
section > form > label > div {
  width: 95px;
  justify-content: center;
  background-color: #f8f9fa;
  border: 1px solid black;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-size: 14px;
  line-height: 23px;
  padding: 0 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}
section > form > div:nth-of-type(2) > button {
  justify-content: center;
  background-color: #f8f9fa;
  border: 1px solid black;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-size: 14px;
  line-height: 23px;
  padding: 0 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}
img {
  display: none;
  margin: auto;
  max-width: 80%;
  height: 300px;
  margin-top: 10px;
}
@media (min-width: 50rem) {
  section {
    width: 40vw;
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
  }
}
