@import url("../css/header.css");
section > ul > li {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(211, 228, 183, 0.5);
  gap: 10px;
  font-size: 14px;
}
#board-write {
  display: flex;
  justify-content: flex-end;
}
#board-write > button {
  border: 0.5px solid rgba(23, 94, 9, 0.2);
  background-color: #458871;
  color: black;
  border-radius: 5px;
  box-shadow: 2px 2px 1px hsl(80, 20%, 30%);
}
body > div > button > a {
  text-decoration: none;
  color: black;
}
body > div > button > a:visited {
  color: #fff;
}
section:nth-of-type(1) > ul {
  padding: 0;
}
p {
  margin: 10px;
}
hr {
  width: 100%;
  color: black;
  margin: 0;
}
section:nth-of-type(1) > ul > li > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}
section:nth-of-type(1) > ul > li > div:nth-of-type(1) > sub {
  background-color: #a5c29f;
  color: black;
  padding: 5px;
  border-radius: 50px;
  box-shadow: 2px 3px 5px hsl(88, 28%, 33%);
  letter-spacing: 0.5px;
}
section:nth-of-type(1) > ul > li > div:nth-of-type(1) > button {
  cursor: pointer;
  background-color: #fefedfbb;
  color: #414131;
  border-radius: 50px;
}
section:nth-of-type(1) > ul > li > div:nth-of-type(1) > button:hover {
  color: crimson;
  padding: 5px;
  font-weight: bold;
}
section:nth-of-type(1) > ul > li > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #fff;
}
section:nth-of-type(1) > ul > li > div:nth-of-type(2) > span:nth-of-type(2) {
  display: flex;
  gap: 20px;
}
.title:hover {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: #006b60;
}
section:nth-of-type(2) {
  margin: auto;
  margin-bottom: 15px;
}
section:nth-of-type(2) > div {
  display: flex;
  gap: 15px;
}
section:nth-of-type(2) > div > button {
  padding: 8px 10px;
  font-weight: 300;
  line-height: 12px;
  border-radius: 24px;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  background: #458871;
  color: #fff;
  box-shadow: 0 2px 8px -1px rgb(96, 108, 56);
}
form {
  display: flex;
  margin: auto;
}
form > div:nth-of-type(1) {
  display: flex;
  gap: 10px;
}
form > div > select {
  border-radius: 5px;
}
form > div > div {
  display: flex;
  gap: 15px;
}
form > div > div > button {
  background-color: #a5c29f;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  height: 30px;
}
form > div > div > input {
  height: 30px;
  border-radius: 5px;
}
@media (min-width: 55rem) {
  #board-write {
    width: 78%;
    margin: auto;
    margin-top: 1.5rem;
  }
  sub {
    font-size: 14px;
  }
  #board-write > button > a {
    font-size: 16px;
  }
  ul > li > div > span > p {
    font-size: 16px;
  }
  section:nth-of-type(1) {
    margin: 20px;
  }
  section:nth-of-type(1) > ul {
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 90rem) {
  section:nth-of-type(2) {
    margin-bottom: 20px;
  }
}
