@import url("../css/header.css");
section > ul > li {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(255,248,222, 0.7);
  gap: 10px;
  font-size: 14px;
}
body > div{
  display: flex;
  justify-content: flex-end;
}
body > div > button {
  background-color: rgb(96, 108, 56);
  color: #fff;
  border-radius: 5px;
}
body > div > button > a {
  text-decoration: none;
  color: white;
}
body > div > button > a:visited {
  color: #fff;
}
section:nth-of-type(1) > ul{
  padding: 0;
}
p{
  margin: 10px;
}
hr{
  width: 100%;
  color: black;
  margin: 0;
}
section:nth-of-type(1) > ul > li > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}
section:nth-of-type(1) > ul > li > div:nth-of-type(1) > sub{
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 50px;
  box-shadow: 2px 3px 5px hsl(19, 28%, 33%);
}
section:nth-of-type(1) > ul > li > div:nth-of-type(1) > button{
  cursor: pointer;
  background-color: floralwhite;
  border-radius: 50px;
}
section:nth-of-type(1) > ul > li > div:nth-of-type(1) > button:hover{
  color: crimson;
  font-weight: bold;
}
section:nth-of-type(1) > ul > li > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #fff;
}
section:nth-of-type(1) > ul > li > div:nth-of-type(2) > span:nth-of-type(2){
  display: flex;
  gap: 20px;
}
.title:hover{
  cursor: pointer;
  font-weight: bold;
  color: crimson;
}
section:nth-of-type(2){
  margin: auto;
  margin-bottom: 15px;
}
section:nth-of-type(2) > div {
  display: flex;
  gap: 15px;
}
section:nth-of-type(2) > div > button {
  padding: 8px 10px;
  font-weight: 300;
  line-height: 12px;
  border-radius: 24px;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: .5px;
  background:  rgb(96, 108, 56);
  color: #fff;
  box-shadow: 0 2px 8px -1px rgb(96, 108, 56);
}
form{
  display: flex;
  margin: auto;
}
form > div:nth-of-type(1){
  display: flex;
  gap: 10px;
}
form > div > div >button {
  background-color: rgb(40, 54, 24);
  color: white;
  border-radius: 5px;
}
@media (min-width: 55rem){
  body > div{
    width: 78%;
    margin: auto;
  }
  section:nth-of-type(1) {
    margin: 20px;
  }
  section:nth-of-type(1) > ul{
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 90rem) {
  section:nth-of-type(2){
    margin-bottom: 20px;
  }
  
}
