@import url("../css/header.css");
section{
  margin: 30px;
}
article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  width: 95%;
  padding: 20px;
  margin: auto;
}
h3, h4, p {
  margin: 0;
  font-size: 14px;
}
section:nth-of-type(1) article span h3 {
  display: inline;
  background-color: antiquewhite;
  padding: 8px;
  margin-bottom: 30px;
  border-radius: 50px;
}
section:nth-of-type(1) > article > div:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
section:nth-of-type(1) > article > div:nth-of-type(1) > img{
  width: 100%;
}
form{
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
form label {
  width: 80%;
}
form label input{
  width: 100%;
  padding: 3px;
}
form > button {
  background-color: rgb(96, 108, 56);
  color: white;
  border-radius: 5px;
}
hr{
  width: 100%;
  color: black;
}
section:nth-of-type(1) > article > div:nth-of-type(2)> span > button {
  background-color: rgb(173, 193, 120);
  color: darkslategrey;
  font-weight: bold;
  border-radius: 5px;
}
section:nth-of-type(2) > article:nth-of-type(1){
  border-top: 1px solid black;
}
section:nth-of-type(2) > article {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  justify-content: space-between;
  background-color: beige;
}
section:nth-of-type(2) > article > div:nth-of-type(1){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section:nth-of-type(2) > article > div:nth-of-type(1) > div:nth-of-type(2){
  display: flex;
  flex-direction: column;
  gap: 5px;
}
section:nth-of-type(2) > article > div:nth-of-type(1) > div:nth-of-type(2) > button {
  background-color: rgb(173, 193, 120);
  color: darkslategrey;
  font-weight: bold;
  border-radius: 5px;
}
section:nth-of-type(2) > article > div:nth-of-type(2) > textarea{
  width: 100%;
  padding: 10px;
  resize: none;
  overflow: hidden;
}
@media (min-width: 61rem){
  body{
    width: 70%;
    margin: auto;
  }
  aside > div > button {
    font-size: 15px;
  }
  header > div:nth-of-type(1) > h1 > a {
    margin: 0;
    font-size: 40px;
  }
  header > div:nth-of-type(1) > nav > ul li {
    font-size: 18px;
  }
  h3, h4, p {
    font-size: 16px;
  }
  article{
    gap: 15px;
  }
  form label {
    width: 50%;
  }
}