@import url("../css/header.css");
section{
  padding: 10px;
  padding-top: 20px;
  background-color: rgba(255, 235, 180, 0.2);
}
section > form{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section > form > select {
  width: 15%;
}
section > form > div:nth-of-type(1){
  display: flex;
  justify-content: space-between;
}
label {
  width: 100%;
}
input{
  width: 95%;
  height: 2rem;
}
textarea {
  width: 100%;
  padding: 10px;
  resize: none; /* 리사이즈 비활성화 */
  overflow: hidden; /* 오버플로우를 숨김으로 설정 */
}
section > form > div:nth-of-type(2){
  display: flex;
  justify-content: flex-end;
}
section > form > div:nth-of-type(2)> button {
  justify-content: center;
  background-color: #f8f9fa;
  border: 1px solid black;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-size: 14px;
  line-height: 23px;
  padding: 0 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}
@media (min-width: 67rem) {
  body{
    width: 70%;
    margin: auto;
  }
  aside > div > button {
    font-size: 15px;
  }
  header > div:nth-of-type(1) > h1 > a {
    margin: 0;
    font-size: 40px;
  }
  header > div:nth-of-type(1) > nav > ul li {
    font-size: 18px;
  }
  section{
    margin: auto;
    width: 80%;
  }
}