* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgba(100, 200, 150, 0.2);
}
aside {
  display: flex;
  justify-content: space-between;
}
aside > div{
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
aside > div> button {
  background-color: rgb(173, 193, 120);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
aside > div> button a {
  text-decoration: none;
  color: white;
}
aside > div> button a:visited {
  color: white;
}
header> div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header > div > h1 > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 2rem;
  color: rgb(96, 108, 56);
}
header > div> nav > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}
header > div > nav > ul > li {
  background-color: rgb(141, 112, 83);
  text-align: center;
  width: 20%;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 5px;
}
header > div > nav > ul > li > a {
  color: white;
  text-decoration: none;
}
header > div > h1 > a:hover {
  color: palevioletred;
}
header > div > nav > ul > li > a:hover{
  color:  palevioletred;
}
section {
  margin: 2rem;
}
section > form > div:nth-of-type(1) div {
  display: flex;
  gap: 30px;
}
label {
  width: 70%;
}
input {
  width: 100%;
}
h3 {
  margin: 0;
  font-size: 18px;
}
section > form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section > form > div:nth-of-type(2) {
  display: flex;
  gap: 30px;
}
section > form > div:nth-of-type(2) > textarea {
  width: 70%;
}
section > form > div:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
}
select {
  width: 70%;
}
@media (min-width: 67rem) {
  section{
    margin-left: 20rem;
  }
}