* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgba(100, 200, 150, 0.2);
}
aside {
  display: flex;
  justify-content: space-between;
}
aside > div{
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
aside > div> button {
  background-color: rgb(173, 193, 120);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
aside > div> button a {
  text-decoration: none;
  color: white;
}
aside > div> button a:visited {
  color: white;
}
header> div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header > div > h1 > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 2rem;
  color: rgb(96, 108, 56);
}
header > div> nav > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}
header > div > nav > ul > li {
  background-color: rgb(141, 112, 83);
  text-align: center;
  width: 20%;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 5px;
}
header > div > nav > ul > li > a {
  color: white;
  text-decoration: none;
}
header > div > h1 > a:hover {
  color: palevioletred;
}
header > div > nav > ul > li > a:hover{
  color:  palevioletred;
}
main{
  background-color : white;
  height: auto;
  width: 400px;
  margin: 0px;
  padding: 20px;
  margin: 0 auto;
  border-radius:5px;
  box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
}
table {
  text-align: center;
  margin: 0 auto; 
}
td {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
table > thead {
  align-items: center;
}
table > thead > tr:first-child > th {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 50px;
  height: 50px;
}
table > thead > tr:last-child > td {
  font-weight: 600;  
}
.pastDay {
  color: lightgray;
  cursor: initial !important;
}

.today {
  background-color: #F5D042;            
  color: #fff;
  font-weight: 600;
}

.choiceDay {
  background: #0A174E;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section:nth-of-type(1) > form {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 15px;
}
section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: white;
  width: 100%;
}
article{
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
article > div {
  display: flex;
  gap: 10px;
}
article > div:nth-of-type(1) > h4 {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}
article > div:nth-of-type(1) > p {
  margin: 0;
}
footer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
footer> form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  width: 400px;
  padding: 1.5rem;
  align-items: center;
}
footer> form > div:nth-of-type(1){
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer> form > div:nth-of-type(1) > label {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
footer> form > div:nth-of-type(1) > label > input{
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
}
footer> form > div:nth-of-type(2){
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: flex-end;
}
@media (min-width: 67rem) {
  aside > div > button {
    font-size: 15px;
  }
  header > div:nth-of-type(1) > h1 > a {
    margin: 0;
    font-size: 40px;
  }
  header > div:nth-of-type(1) > nav > ul li {
    font-size: 18px;
  }
  section:nth-of-type(2) {
    width: 60%;
  }
}