@import url("../css/header.css");
main{
  background-color : white;
  height: auto;
  width: 400px;
  margin: 0px;
  padding: 20px;
  margin: 0 auto;
  border-radius:5px;
  box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
}
table {
  text-align: center;
  margin: 0 auto; 
}
td {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
table > thead {
  align-items: center;
}
table > thead > tr:first-child > th {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 50px;
  height: 50px;
}
table > thead > tr:last-child > td {
  font-weight: 600;  
}
.pastDay {
  color: lightgray;
  cursor: initial !important;
}

.today {
  background-color: #F5D042;            
  color: #fff;
  font-weight: 600;
}

.choiceDay {
  background: #0A174E;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section:nth-of-type(1) > form {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 15px;
}
section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: white;
  width: 100%;
}
article{
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
article > div {
  display: flex;
  gap: 10px;
}
article > div:nth-of-type(1) > h4 {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}
article > div:nth-of-type(1) > p {
  margin: 0;
}
article > div:nth-of-type(2) > button {
  background-color: rgba(95,158,160,0.7);
  color: black;
  border-radius: 5px;
}
footer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
footer> form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  width: 400px;
  padding: 1.5rem;
  align-items: center;
}
footer> form > div:nth-of-type(1){
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer> form > div:nth-of-type(1) > select {
  border: 1px solid black;
  border-radius: 5px;
}
footer> form > div:nth-of-type(1) > label {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
footer> form > div:nth-of-type(1) > label > input{
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
}
footer> form > div:nth-of-type(2){
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: flex-end;
}
@media (min-width: 67rem) {
  body{
    width: 70%;
    margin: auto;
  }
  aside > div > button {
    font-size: 15px;
  }
  header > div:nth-of-type(1) > h1 > a {
    margin: 0;
    font-size: 40px;
  }
  header > div:nth-of-type(1) > nav > ul li {
    font-size: 18px;
  }
  section:nth-of-type(2) {
    width: 60%;
  }
}